### runtime-created files

downloads/
virtuoso-db/
downloadURLs.txt
paths.*
*_dataid_*.ttl*
.env_dbpedia.complete
.env_live.complete
virtuoso/
data/
*.swl
*.swm
*.swn
*.swo
*.swp
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws
